In [1]:
import pandas as pd

In [4]:
weather = pd.read_csv(r'C:\Users\aa1\Desktop\python_projects\Weather Predictions\Houston airport data - 3722516.csv', index_col='DATE')

In [5]:
weather.head()

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT10,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WV03
DATE,,,,,,,,,,,,,,,,,,,,,
1969-06-01,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,50.0,NaN,NaN,NaN,0.00,67.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969-06-02,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",70.0,60.0,NaN,NaN,NaN,0.18,57.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-03,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,1100.0,0.06,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-04,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",90.0,100.0,NaN,NaN,906.0,1.27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-05,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,80.0,NaN,NaN,1048.0,0.00,24.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
weather.loc["1972-01-01":]

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT10,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WV03
DATE,,,,,,,,,,,,,,,,,,,,,
1972-01-01,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,2112.0,0.10,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972-01-02,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",40.0,30.0,NaN,NaN,412.0,0.00,72.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-01-03,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",90.0,100.0,NaN,NaN,1548.0,0.06,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972-01-04,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,1554.0,0.36,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1972-01-05,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",40.0,50.0,NaN,NaN,24.0,0.00,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-14,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,4.92,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-15,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,6.93,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-16,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,7.83,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-17,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,14.09,NaN,1506.0,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-18,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT10,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WV03
DATE,,,,,,,,,,,,,,,,,,,,,
1969-06-01,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,50.0,NaN,NaN,NaN,0.00,67.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969-06-02,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",70.0,60.0,NaN,NaN,NaN,0.18,57.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-03,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",100.0,100.0,NaN,NaN,1100.0,0.06,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-04,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",90.0,100.0,NaN,NaN,906.0,1.27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1969-06-05,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",50.0,80.0,NaN,NaN,1048.0,0.00,24.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-14,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,4.92,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-15,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,6.93,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-16,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,7.83,NaN,NaN,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-17,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,14.09,NaN,1506.0,0.00,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-06-18,USW00012960,"HOUSTON INTERCONTINENTAL AIRPORT, TX US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
weather.shape

(20107, 43)

In [30]:
weather.isnull().sum()/weather.shape[0]*100

STATION     0.000000
NAME        0.000000
ACMH       50.952405
ACSH       50.952405
AWND       26.528075
FMTM       49.336052
PGTM       27.383498
PRCP        0.004973
PSUN       73.506739
SNOW        0.009947
SNWD        0.024867
TAVG       66.315214
TMAX        0.004973
TMIN        0.004973
TSUN       43.621624
WDF1       50.957378
WDF2       49.062516
WDF5       49.296265
WDFG       51.290595
WESD       70.935495
WSF1       50.957378
WSF2       49.062516
WSF5       49.286318
WSFG       51.275675
WT01       51.957030
WT02       93.380415
WT03       82.682648
WT04       99.791118
WT05       98.463222
WT06       99.736410
WT07       99.651863
WT08       77.082608
WT09       99.870692
WT10       99.995027
WT11       99.900532
WT13       87.099020
WT14       97.125379
WT15       99.920426
WT16       67.966380
WT17       99.910479
WT18       99.840851
WT21       99.099816
WV03       99.970160
dtype: float64

In [32]:
weather.columns

Index(['STATION', 'NAME', 'ACMH', 'ACSH', 'AWND', 'FMTM', 'PGTM', 'PRCP',
       'PSUN', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF1', 'WDF2',
       'WDF5', 'WDFG', 'WESD', 'WSF1', 'WSF2', 'WSF5', 'WSFG', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT10', 'WT11',
       'WT13', 'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT21', 'WV03'],
      dtype='object')

In [34]:
core_weather = weather[['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']].copy()

            PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1969-06-01  0.00   0.0   0.0  90.0  72.0
1969-06-02  0.18   0.0   0.0  85.0  62.0
1969-06-03  0.06   0.0   0.0  80.0  60.0
1969-06-04  1.27   0.0   0.0  66.0  60.0
1969-06-05  0.00   0.0   0.0  78.0  56.0
...          ...   ...   ...   ...   ...
2024-06-14  0.00   0.0   0.0  95.0  76.0
2024-06-15  0.00   0.0   0.0  93.0  75.0
2024-06-16  0.00   0.0   0.0  94.0  75.0
2024-06-17  0.00   0.0   0.0  92.0  77.0
2024-06-18   NaN   NaN   NaN   NaN   NaN

[20107 rows x 5 columns]